<div>
  <h3 class="date-adjust">Published on <%= Time.now.strftime("%B %d, %Y") %></h3>
  <h1 class="article-title"><%= @article.title %></h1>
  <p class="article-body-p"><%= @article.body %></p>
  <div style="display: flex; justify-content: space-between; align-items: center;">
    <%= link_to "Edit", edit_article_path(@article), class: "btn" %>
    <%= link_to "Destroy", article_path(@article), data: {
      turbo_method: :delete,
      turbo_confirm: "Are you sure?"
    }, class: "btn", style: "margin-left: 10px;" %>
  </div>
</div>
<div class="comments-section">
  <h2 class="title-body-text">Comments</h2>
  <% @article.comments.each do |comment| %>
    <div class="comment">
      <p><strong>Commenter:</strong> <%= comment.commenter %></p>
      <p><strong>Comment:</strong> <%= comment.body %></p>
    </div>
  <% end %>
</div>

<div class="comment-form">
  <h2 class="title-body-text">Add a comment:</h2>
  <%= form_with model: [ @article, @article.comments.build ] do |form| %>
    <p>
      <%= form.label :commenter %><br>
      <%= form.text_field :commenter, class: "comment-input" %>
    </p>
    <p>
      <%= form.label :body %><br>
      <%= form.text_area :body, class: "comment-input" %>
    </p>
    <p>
      <%= form.submit "Submit Comment", class: "submit-btn" %>
    </p>
  <% end %>
</div>